.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 281px;
  height: 100%;
  background: var(--grey-3-color);
  border-radius: 20px;
  box-shadow: -4px 4px 10px rgb(0 0 0 / 15%), 4px 4px 10px rgb(0 0 0 / 15%);
}

.main {
  height: 100%;
  padding: 0 24px 24px;
}

.title {
  margin: 0 0 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--grey-color);
}

.descr {
  margin: 0 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--grey-color);
}

.more {
  width: max-content;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  color: var(--grey-color);
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;
  height: 37px;
  margin: 24px auto 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: var(--white-color);
  background: var(--green-color);
  border-radius: 20px;
}
