@import '../../../scss/mixins';

.news {
  background: linear-gradient(180deg, #f6fdff 0%, #c3f0ff 85.71%);
}

.offset {
  padding: 64px 0 128px;
}

.container {
  display: flex;
  flex-direction: column;
  @include section-container;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  width: 1200px;
  margin: 64px auto 0;
}
