@import "../../../scss/mixins.scss";

.wrap {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 32px;
    padding-top: 32px;
    @include section-container;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 585px;
    height: 226px;
    border-radius: 30px;
    background-color: var(--grey-2-color);
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.15), 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.inner__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 385px;
    padding-top: 12px;
    padding-left: 30px;
    padding-bottom: 18px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--black-color);
}

.text {
    width: 265px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--black-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 35px;
    border: 3px solid var(--green-color);
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--green-color);
    background-color: var(--white-color);
}

.img {
    width: 180px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
